<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Adminmart Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="../dist/css/style.min.css" rel="stylesheet">
    <link href="../dist/css/myCss.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- This Page CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/extra-libs/prism/prism.css">
    <link href="../assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="../dist/css/select2.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> header}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> leftSidebar_admin}}

        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Clientes</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item text-muted active">Usuarios
                                    </li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page">Clientes
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

                <!-- basic table -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-6 col-xlg-6">
                                        <button type="button" class=" miBtn btn btn-rounded" data-toggle="modal"
                                            data-target="#modalAnadirPerfil">
                                            <i class="fas fa-user-plus"></i>
                                            Añadir Cliente
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <!-- Tabla de servicios -->
                                <div class="table-responsive text-center">
                                    <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Celular</th>
                                                <th>Direcciones</th>
                                                <th>Servicios Atendidos</th>
                                                <th>Acción</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#if data.clientes}}
                                            {{#each data.clientes as |item|}}
                                            <tr>
                                                <td>{{item.[0]}}</td>
                                                <td>{{item.[1]}}</td>
                                                {{#if item.[2].[0]}}
                                                <td id="{{item.[4]}}"> <a href="#" data-toggle="modal"
                                                        data-target="#scrollable-modal" id="btnDirecciones">Ver
                                                        Direcciones</a></td>
                                                {{else}}
                                                <td>No hay direcciones</td>
                                                {{/if}}
                                                <td>{{item.[3]}}</td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col" style="text-align: center;" id="{{item.[4]}}">
                                                            <a href='#' class='edit' data-toggle='modal'
                                                                data-target="#modalEditarPerfil" id="btnEditar"><i
                                                                    class='material-icons' data-toggle='tooltip'
                                                                    title='Editar'>&#xE254;</i></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{/if}}

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Celular</th>
                                                <th>Direcciones</th>
                                                <th>Servicios Atendidos</th>
                                                <th>Acción</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- The Modal Image -->
            <footer class="footer text-center text-muted">
                All Rights Reserved by Adminmart. Designed and Developed by <a
                    href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->

        <!-- Modal que visualiza las direcciones del cliente -->
        <div class="modal fade" id="scrollable-modal" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="scrollableModalTitle">Nombre Cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- .row -->
                        <div class="row modal-dialog">
                            <div class="col-md-12 col-sm-12 p-12">
                                <strong class="card-title">Mis Direcciones</strong>
                                <ul class="list-group" id="direccionesModalScrollable">
                                    <li class="list-group-item">No hay direcciones registradas</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- Modal EDITAR CLIENTE -->
    <div id="modalEditarPerfil" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <span><img class="mr-2" src="../assets/images/logo-icon.png" alt="" height="18"><img
                                src="../assets/images/logo-text.png" alt="" height="18"></span>
                    </div>
                    <form class="pl-3 pr-3" action="#" id="formModalEditarPerfil">
                        <div class="form-group">
                            <label for="nombreModalEditar">Nombre</label>
                            <input name="nombreModalEditar" id="nombreModalEditar" class="form-control" type="text"
                                required="" placeholder="Nombre" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="celularModaEditar">Celular</label>
                            <input name="celularModalEditar" id="celularModalEditar" class="form-control" type="number"
                                placeholder="Cedula" min="0" maxlength="11" required="">
                        </div>


                        <div class="form-group">
                            <label for="direccionesModaEditar">Direccion</label>
                            <select name="direccionesModalEditar" id="direccionesModalEditar" class="form-control"
                                required="" style="width: 100%"></select>
                        </div>

                        <br>
                        <div class="form-group text-center">
                            <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                        </div>

                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal AÑADIR CLIENTE -->
    <div id="modalAnadirPerfil" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <span><img class="mr-2" src="../assets/images/logo-icon.png" alt="" height="18"><img
                                src="../assets/images/logo-text.png" alt="" height="18"></span>
                    </div>
                    <form class="pl-3 pr-3" id="formModalAnadirPerfil">
                        <div class="form-group">
                            <label for="nombreModalAnadir">Nombre</label>
                            <input name="nombreModalAnadir" id="nombreModalAnadir" class="form-control" type="text"
                                required="" placeholder="Nombre" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="celularModalAnadir">Celular</label>
                            <input name="celularModalAnadir" id="celularModalAnadir" class="form-control" type="number"
                                placeholder="Cedula" min="0" maxlength="11" required="">
                        </div>
                        <div class="form-group">
                            <label for="direccionModalAnadir">Dirección</label>
                            <input name="direccionModalAnadir" id="direccionModalAnadir" class="form-control"
                                type="text" placeholder="Dirección" maxlength="50" required="">
                        </div>

                </div>

                <br>
                <div class="form-group text-center">
                    <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit" id="agregarClienteBtn">Añadir Cliente</button>
                </div>

                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="../dist/js/app-style-switcher.js"></script>
    <script src="../dist/js/feather.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <!-- themejs -->
    <!--Menu sidebar -->
    <script src="../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../dist/js/custom.min.js"></script>
    <!-- This Page JS -->
    <script src="../assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../dist/js/pages/datatable/datatable-basic.init.js"></script>
    <script src="../assets/extra-libs/prism/prism.js"></script>
    <script src="../dist/js/select2.min.js"></script>
    <script>
        //Recojemos las variables de los domiciliarios que nos envian el servidor por medio de HBS
        var clientes = {};
    </script>

    {{#each data.clientes  as |item|}}
    <script>
        clientes["{{ item.[4] }}"] = []
        clientes["{{ item.[4] }}"][0] = "{{ item.[0] }}"
        clientes["{{ item.[4] }}"][1] = "{{ item.[1] }}"

        clientes["{{ item.[4] }}"][3] = "{{ item.[3] }}"
        clientes["{{ item.[4] }}"][4] = "{{ item.[4] }}"
        //Guardamos las direcciones
        clientes["{{ item.[4] }}"][2] = [];
    </script>

    {{#each item.[2] as |item2|}}
    <script>

        clientes["{{ item.[4] }}"][2]["{{ @index }}"] = "{{ item2 }}"

    </script>
    {{/each}}

    {{/each}}
    <script>
        var idUltimoEliminado;
        var idUltimoEditado;
        var idUltimoDirecciones;

        $("#direccionesModalEditar").select2();

        $(document).on("click", "#btnEditar", function () {
            idUltimoEditado = $(this).parent().attr("id");

            //Rellenamos los datos correspondientes en el modal Editar
            $("#nombreModalEditar").val(clientes[idUltimoEditado][0]);
            $("#celularModalEditar").val(clientes[idUltimoEditado][1]);
            $("#direccionesModalEditar").empty();;
            $("#direccionesModalEditar").select2({ data: clientes[idUltimoEditado][2], tags: "true" });
        })

        //Mostramos las direcciones de los clientes, mediante un modal
        $(document).on("click", "#btnDirecciones", function () {
            idUltimoDirecciones = $(this).parent().attr("id");

            let listaDirecciones = "";
            if (!(clientes[idUltimoDirecciones][2][0] == "")) {
                clientes[idUltimoDirecciones][2].forEach(elemento => {
                    listaDirecciones += `<li class='list-group-item'>${elemento}</li>`;
                })
            } else {
                listaDirecciones += `<li class='list-group-item'>No hay direcciones registradas</li>`;
            }

            $("ul#direccionesModalScrollable").html(listaDirecciones)
        })
        //Enviamos los datos a nuestro servidor, para agregar un nuevo cliente a nuestro sistema.
        $(document).on("submit", "form#formModalAnadirPerfil", function (e) {
            e.stopPropagation();
            let info = $(this).serializeArray();
            let data = {};
            $.each(info, function (i, array) {
                data[array.name] = array.value;
            });
            $.ajax({
                url: '/clientes',
                data,
                method: 'post', //en este caso
                dataType: 'json',
                success: function (response) {
                    //codigo de exito
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert("Error en el Servidor: " + response.msj);
                    }
                },
                error: function (error) {
                    console.log("Error: " + error);
                }
            });
            //cerramos el modal
            $("#modalAnadirPerfil").modal('hide');
            e.preventDefault();
        });
        //Enviamos los datos a nuestro servidor, para actualizar un nuevo cliente a nuestro sistema.
        $(document).on("submit", "form#formModalEditarPerfil", function (e) {
            e.stopPropagation();
            let info = $(this).serializeArray();
            let data = {};
            $.each(info, function (i, array) {
                data[array.name] = array.value;
            });
            data.idCliente = idUltimoEditado;
            console.log(data);
            $.ajax({
                url: '/clientes',
                data,
                method: 'put', //en este caso
                dataType: 'json',
                success: function (response) {
                    //codigo de exito
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert("Error en el Servidor: " + response.msj);
                    }
                },
                error: function (error) {
                    console.log("Error: " + error);
                }
            });
            //cerramos el modal
            $("#modalAnadirPerfil").modal('hide');

            e.preventDefault();
        });
    </script>
</body>

</html>