<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Adminmart Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="../dist/css/style.min.css" rel="stylesheet">
    <link href="../dist/css/myCss.css" rel="stylesheet">

    <!-- This Page CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/extra-libs/prism/prism.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> header}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> leftSidebar_admin}}

        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Domiciliarios</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item text-muted active">Usuarios
                                    </li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page">Domiciliarios
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <div class="col-5 align-self-center">
                        <ul class="navbar-nav float-right">
                            <!-- ============================================================== -->
                            <!-- Search -->
                            <!-- ============================================================== -->
                            <li class="nav-item d-none d-md-block">
                                <a class="nav-link a-search" href="javascript:void(0)">
                                    <form>
                                        <div class="customize-input div-search">
                                            <input
                                                class="form-control custom-shadow custom-radius border-0 bg-white search"
                                                type="search" placeholder="Search" aria-label="Search">
                                            <i class="form-control-icon icon-search" data-feather="search"></i>
                                        </div>
                                    </form>
                                </a>
                            </li>
                            <!-- ============================================================== -->
                            <!-- User profile and search -->
                            <!-- ============================================================== -->
                        </ul>
                    </div>

                </div>
                <div class="row">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-6 col-xlg-6">
                        <button type="button" class=" miBtn btn btn-rounded" data-toggle="modal"
                            data-target="#modalAnadirPerfil">
                            <i class="fas fa-user-plus"></i>
                            Añadir Domiciliario
                        </button>
                    </div>
                </div>
                <br>

            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="col-12">
                        <!-- Row -->
                        <div class="row">
                            <!-- column -->
                            {{#if data.domiciliarios }}
                            {{#each data.domiciliarios  as |item|}}
                            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                <!-- Card -->
                                <div class="card" id="{{item.[7]}}">
                                    <div class="card-div-top" id="imagen">
                                        <img class=" card-img-top " src="uploads/images/{{item.[6]}}"
                                            data-target="#modalIMG" data-toggle="modal" alt="Card image cap">

                                    </div>
                                    <div class="card-header"
                                        style="background: linear-gradient(to right, #8971ea, #7f72ea, #7574ea, #6a75e9, #5f76e8);">
                                        <h4 class="mb-0 text-white" name="nombre">{{item.[0]}}</h4>
                                    </div>
                                    <div class="card-body">
                                        <h4 class=" card-title">Correo</h4>
                                        <p class="card-text">{{item.[1]}}</p>
                                        <div class="row divInfo">
                                            <div class="col-lg-6 col-md-6">
                                                <h4 class=" card-title">Cedula</h4>
                                                <p class="card-text">{{item.[2]}}</p>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <h4 class=" card-title">Celular</h4>
                                                <p class="card-text">{{item.[3]}}</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <h4 class=" card-title">Turno</h4>
                                                {{#iff item.[4] "==" "A"}}
                                                <p class="card-text">{{item.[4]}} (5am - 5pm)</p>
                                                {{else}}
                                                <p class="card-text">{{item.[4]}} (5pm - 5am)</p>
                                                {{/iff}}
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <h4 class=" card-title">Estado</h4>
                                                <p class="card-text">{{item.[5]}}</p>
                                            </div>
                                        </div>

                                    </div>
                                    <a href="" class="card-btn-eliminar img-fluid btn-danger" data-toggle="modal"
                                        data-target="#danger-header-modal" id="btnEliminar">Eliminar</a>
                                    <a href="javascript:void(0)" class="card-img-bottom img-fluid btn-primary"
                                        data-toggle="modal" data-target="#modalEditarPerfil" id="btnEditar">Editar</a>

                                </div>
                                <!-- Card -->
                            </div>
                            <!-- column -->
                            {{/each}}
                            {{/if}}

                        </div>
                        <!-- Row -->
                    </div>
                </div>
                <!-- End Row -->

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- The Modal Image -->
            <footer class="footer text-center text-muted">
                All Rights Reserved by Adminmart. Designed and Developed by <a
                    href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->

        <!-- Modal Confirmacion de eliminar -->
        <div id="danger-header-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="danger-header-modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header bg-danger">
                        <h4 class="modal-title" id="danger-header-modalLabel">Eliminar Domiciliario</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <h5 class="mt-0">¿Desea eliminar a <strong id="nombreModalEliminar"> Sergio Aparicio </strong>?
                        </h5>
                        <p class=" modal-dialog">Recuerde que esta acción no tiene retroceso.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="eliminarUsuarioConfirmacion">Confirmar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- Modal EDITAR DOMICILIARIO -->
    <div id="modalEditarPerfil" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <span><img class="mr-2" src="../assets/images/logo-icon.png" alt="" height="18"><img
                                src="../assets/images/logo-text.png" alt="" height="18"></span>
                    </div>
                    <form class="pl-3 pr-3" id="formModalEditarDomiciliario" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="nombreModalEditar">Nombre</label>
                            <input name="nombreModalEditar" id="nombreModalEditar" class="form-control" type="text"
                                required="" placeholder="Nombre" maxlength="50" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="pathImageModalEditar">Foto de perfil</label>
                            <input name="pathImageModalEditar" id="pathImageModalEditar" class="form-control-file "
                                type="file" accept="image/*" placeholder="Foto de Perfil" maxlength="50"
                                autocomplete="off">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cedulaModalEditar">Cedula</label>
                                    <input name="cedulaModalEditar" id="cedulaModalEditar" class="form-control"
                                        type="number" placeholder="Cedula" maxlength="10" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="celularModalEditar">Celular</label>
                                    <input name="celularModalEditar" id="celularModalEditar" class="form-control"
                                        type="number" placeholder="Cedula" maxlength="11" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="turnoModalEditar">Turno</label>
                                    <select name="turnoModalEditar" id="turnoModalEditar" class="form-control"
                                        autocomplete="off">
                                        <option value="A">A (5am - 5pm)</option>
                                        <option value="B">B (5pm - 5am)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="estadoModalEditar">Estado</label>
                                    <select name="estadoModalEditar" id="estadoModalEditar" class="form-control"
                                        autocomplete="off">
                                        {{#if data.estados }}
                                        {{#each data.estados as |item|}}
                                        <option value="{{ item.[0]}}">{{item.[0]}}</option>
                                        {{/each}}
                                        {{else}}
                                        <option value="0" disabled selected>No hay estados Registrados</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <br>
                        <div class="form-group text-center">
                            <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                        </div>

                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal AÑADIR DOMICILIARIO -->
    <div id="modalAnadirPerfil" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <span><img class="mr-2" src="../assets/images/logo-icon.png" alt="" height="18"><img
                                src="../assets/images/logo-text.png" alt="" height="18"></span>
                    </div>
                    <form class="pl-3 pr-3" id="formModalAnadirDomiciliario" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="nombreModalAnadir">Nombre</label>
                            <input name="nombreModalAnadir" id="nombreModalAnadir" class="form-control" type="text"
                                required="" placeholder="Nombre" maxlength="50" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="pathImageModalAnadir">Foto de perfil</label>
                            <input id="pathImageModalAnadir" class="form-control-file " type="file" accept="image/*"
                                placeholder="Foto de Perfil" maxlength="50" name="pathImageModalAnadir">
                        </div>
                        <div class="form-group">
                            <label for="correoModalAnadir">Correo Electronico</label>
                            <input name="correoModalAnadir" id="correoModalAnadir" class="form-control" type="email"
                                placeholder="Correo Electronico" autocomplete="off">
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cedulaModalAnadir">Cedula</label>
                                    <input name="cedulaModalAnadir" id="cedulaModaAnadir" class="form-control"
                                        type="number" placeholder="Cedula" maxlength="10" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="celularModalAnadir">Celular</label>
                                    <input name="celularModalAnadir" id="celularModalAnadir" class="form-control"
                                        type="number" placeholder="Cedula" maxlength="11" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="turnoModalAnadir">Turno</label>
                                    <select name="turnoModalAnadir" id="turnoModalAnadir" class="form-control"
                                        autocomplete="off">
                                        <option value="A">A (5am - 5pm)</option>
                                        <option value="B">B (5pm - 5am)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="estadoModalAnadir">Estado</label>
                                    <select name="estadoModalAnadir" id="estadoModalAnadir" class="form-control"
                                        autocomplete="off">
                                        {{#if data.estados }}
                                        {{#each data.estados as |item|}}
                                        <option value="{{ item.[0]}}">{{item.[0]}}</option>
                                        {{/each}}
                                        {{else}}
                                        <option value="0" disabled selected>No estados Registrados</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <br>
                        <div class="form-group text-center">
                            <button class="btn btn-light" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary" type="submit">Añadir Domiciliario</button>
                        </div>

                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="../dist/js/app-style-switcher.js"></script>
    <script src="../dist/js/feather.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <!-- themejs -->
    <!--Menu sidebar -->
    <script src="../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../dist/js/custom.min.js"></script>
    <!-- This Page JS -->
    <script src="../assets/extra-libs/prism/prism.js"></script>
    <script>
        //Recojemos las variables de los domiciliarios que nos envian el servidor por medio de HBS
        var domiciliarios = {};
    </script>

    {{#if data.domiciliarios }}
    {{#each data.domiciliarios  as |item|}}
    <script>
        domiciliarios["{{ item.[7] }}"] = []
        domiciliarios["{{ item.[7] }}"][0] = "{{ item.[0] }}"
        domiciliarios["{{ item.[7] }}"][1] = "{{ item.[1] }}"
        domiciliarios["{{ item.[7] }}"][2] = "{{ item.[2] }}"
        domiciliarios["{{ item.[7] }}"][3] = "{{ item.[3] }}"
        domiciliarios["{{ item.[7] }}"][4] = "{{ item.[4] }}"
        domiciliarios["{{ item.[7] }}"][5] = "{{ item.[5] }}"
        domiciliarios["{{ item.[7] }}"][6] = "{{ item.[6] }}"
    </script>

    {{/each}}
    {{/if}}
    <script>
        var idUltimoEliminado;
        var idUltimoEditado;
        $(document).on("click", "#btnEliminar", function () {
            idUltimoEliminado = $(this).parent().attr("id");
            $("strong#nombreModalEliminar").text(domiciliarios[idUltimoEliminado][0]);
        })

        $(document).on("click", "#btnEditar", function () {
            idUltimoEditado = $(this).parent().attr("id");

            //Rellenamos los datos correspondientes en el modal Editar
            $("#nombreModalEditar").val(domiciliarios[idUltimoEditado][0]);
            $("#correoModalEditar").val(domiciliarios[idUltimoEditado][1]);
            $("#cedulaModalEditar").val(domiciliarios[idUltimoEditado][2]);
            $("#celularModalEditar").val(domiciliarios[idUltimoEditado][3]);
            $("#turnoModalEditar").val(domiciliarios[idUltimoEditado][4]);
            $("#estadoModalEditar").val(domiciliarios[idUltimoEditado][5]);
        })

        //Añadimos un Domiciliario
        $(document).on("submit", "form#formModalAnadirDomiciliario", function (e) {
            e.stopPropagation();

            let info = $(this).serializeArray();

            dataAjax = new FormData();

            //Revisamos si subio una imagen. 
            if ($('#pathImageModalAnadir')[0].files.length) {
                dataAjax.append("pathImageModalAnadir", $('#pathImageModalAnadir')[0].files[0]);
            }
            $.each(info, function (i, array) {
                dataAjax.append(array.name, array.value);
            });
            $.ajax({
                url: '/domiciliarios',
                data: dataAjax,
                contentType: false,
                cache: false,
                processData: false,
                method: 'post', //en este caso
                success: function (response) {
                    //codigo de exito
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert("Error en el Servidor: " + response.msj);
                    }
                },
                error: function (error) {
                    console.log("Error: ", error);
                }
            });
            e.preventDefault();
        })

        //Editamos un Domiciliario
        $(document).on("submit", "form#formModalEditarDomiciliario", function (e) {

            e.stopPropagation();

            let info = $(this).serializeArray();

            dataAjax = new FormData();
            //Revisamos si subio una nueva imagen, de lo contrario enviamos el path del que ya tenia. 
            if ($('#pathImageModalEditar')[0].files.length) {
                dataAjax.append("pathImageModalEditar", $('#pathImageModalEditar')[0].files[0]);
            } else {
                dataAjax.append("pathImageModalEditar", domiciliarios[idUltimoEditado][6]);
            }
            $.each(info, function (i, array) {
                dataAjax.append(array.name, array.value);
            });

            dataAjax.append("idDomiciliario", idUltimoEditado);
            $.ajax({
                url: '/domiciliarios',
                data: dataAjax,
                contentType: false,
                cache: false,
                processData: false,
                method: 'put', //en este caso
                success: function (response) {
                    //codigo de exito
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert("Error en el Servidor: " + response.msj);
                    }
                },
                error: function (error) {
                    console.log("Error: ", error);
                }
            });
            e.preventDefault();
        })

        //Eliminamos un usuario
        $(document).on("click", "#eliminarUsuarioConfirmacion", function (e) {
            e.stopPropagation();
            $.ajax({
                url: '/domiciliarios',
                data: {
                    idDomiciliario: idUltimoEliminado
                },
                method: 'delete', //en este caso
                dataType: 'json',
                success: function (response) {
                    //codigo de exito
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert("Error en el Servidor: " + response.msj);
                    }
                },
                error: function (error) {
                    console.log("Error: ", error);
                }
            });
            e.preventDefault();
        });
    </script>
</body>

</html>