<!-- Modal DETALLES de  SERVICIO -->
<div class="modal fade" id="detallesServicio" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fechaDescripcionModal">2020-10-13</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="pl-3 pr-3" id="formModalEditarDomiciliario" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <strong style="font-size: larger;">
                                    Administrador
                                </strong>
                                <p class="m-2" id="adminDescripcionModal">Sergio Aparicio</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <strong style="font-size: larger;">
                                    Domiciliario
                                </strong>
                                <p class="m-2" id="domiciliarioDescripcionModal">Jhonatan Lagares</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <strong style="font-size: larger;">
                            Descripción del Servicio
                        </strong>
                        <p class="m-2 text-justify" id="descripcionDescripcionModal">Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Saepe
                            hic eligendi
                            veniam accusamus nemo. Quod, quidem sint totam iste praesentium blanditiis aspernatur,
                            perferendis cupiditate quo in obcaecati sunt. Vel, libero.</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <strong style="font-size: larger;">
                                    Tipo de Servicio
                                </strong>
                                <p class="m-2" id="tipoServicioDescripcionModal">Vueltas de Banco</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <strong style="font-size: larger;">
                                    Estado de Servicio
                                </strong>
                                <p class="m-2" id="estadoServicioDescripcionModal">En proceso</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <strong style="font-size: larger;">
                                    Valor Servicio
                                </strong>
                                <p class="m-2" id="valorServicioDescripcionModal">$ 1000000000</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <strong style="font-size: larger;">
                                    Valor Adicional
                                </strong>
                                <p class="m-2" id="valorAdicionalDescripcionModal">$ 31422222222</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <strong style="font-size: larger;">
                                    Hora de Inicio
                                </strong>
                                <p class="m-2" id="horaInicioDescripcionModal">02:15:00</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <strong style="font-size: larger;">
                                    Hora de Terminado
                                </strong>
                                <p class="m-2" id="horaFinalDescripcionModal">02:45:00</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <strong style="font-size: larger;">
                                    Nombre del Cliente
                                </strong>
                                <p class="m-2" id="nombreClienteDescripcionModal">Richard Camilo Cano Claro</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <strong style="font-size: larger;">
                                    Dirección del Cliente
                                </strong>
                                <p class="m-2" id="direccionDescripcionModal">Calle 99 # 88 - 77</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <strong style="font-size: larger;">
                                    Numero de Contacto
                                </strong>
                                <p class="m-2" id="numeroClienteDescripcionModal">314245254</p>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    //Recojemos las variables del historial que nos envian el servidor por medio de HBS
    var historial = {};
</script>
{{#each data.historial  as |item|}}
<script>
    historial["{{ @index }}"] = []
    historial["{{ @index }}"][0] = "{{ item.[0] }}"
    historial["{{ @index }}"][1] = "{{ item.[1] }}"
    historial["{{ @index }}"][2] = "{{ item.[2] }}"
    historial["{{ @index }}"][3] = "{{ item.[3] }}"
    historial["{{ @index }}"][4] = "{{ item.[4] }}"
    historial["{{ @index }}"][5] = "{{ item.[5] }}"
    historial["{{ @index }}"][6] = "{{ item.[6] }}"
    historial["{{ @index }}"][7] = "{{ item.[7] }}"
    historial["{{ @index }}"][8] = "{{ item.[8] }}"
    historial["{{ @index }}"][9] = "{{ item.[9] }}"
    historial["{{ @index }}"][10] = "{{ item.[10] }}"
    historial["{{ @index }}"][11] = "{{ item.[11] }}"
    historial["{{ @index }}"][12] = "{{ item.[12] }}"

</script>
{{/each}}
<script>
    $(document).on("click", "#btnDetalles", function (e) {
        let id = $(this).parent().attr("id")
        $("#fechaDescripcionModal").text(historial[id][9]);
        $("#adminDescripcionModal").text(historial[id][0]);
        $("#domiciliarioDescripcionModal").text(historial[id][1]);
        $("#descripcionDescripcionModal").text(historial[id][8]);
        $("#tipoServicioDescripcionModal").text(historial[id][5]);
        $("#estadoServicioDescripcionModal").text(historial[id][3]);
        $("#valorServicioDescripcionModal").text("$ " + historial[id][6]);
        $("#valorAdicionalDescripcionModal").text("$ " + historial[id][7]);
        $("#horaInicioDescripcionModal").text(historial[id][10]);
        $("#horaFinalDescripcionModal").text(historial[id][11]);
        $("#nombreClienteDescripcionModal").text(historial[id][2]);
        $("#direccionDescripcionModal").text(historial[id][4]);
        $("#numeroClienteDescripcionModal").text(historial[id][12]);
    })
</script>
<script>
    $(document).ready(function () {
        let date = new Date();
        let hoy = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
        $("input[type=date]").val(hoy);
    })

</script>
<script>
    $(document).on("submit", "form#filtroFechas", function (e) {
        e.preventDefault();

        let data = {
            desde: $("#desde").val(),
            hasta: $("#hasta").val()
        }
        $.ajax({
            url: '/historialTemporal/getData',
            dataType: 'json',
            data,
            method: 'get', //en este caso
            success: function (response) {
                //codigo de exito
                if (response.ok) {
                    alimentarTabla(response)
                } else {
                    alert("Error en el Servidor: " + response.msj);
                }
            },
            error: function (error) {
                console.log("Error: " + error);
            }
        });
        //cerramos el modal
        $("#modalAnadirPerfil").modal('hide');

    })

    let alimentarTabla = (data) => {
        let tableConstrida = "";
        //Recorremos los datos enviados por el servidor
        for (let i = 0; i < data.data.historial.length; i++) {
            tableConstrida += '<tr>' +
                `<td> ${data.data.historial[i][0]}</td>` +
                `<td> ${data.data.historial[i][1]}</td>` +
                `<td> ${data.data.historial[i][2]}</td>` +
                `<td id="${i}">` +
                `<a href="#" data-toggle="modal" data-target="#detallesServicio" id="btnDetalles">Ver Más</a>` +
                `</td>` +
                `</tr>`;
        }
        //Recorremos nuevamente, pero esta vez para guardarla en la variable grobla 'historial'
        for (let i = 0; i < data.data.historial.length; i++) {
            historial[i] = [];
            for (let j = 0; j <= 12; j++) {
                historial[i][j] = data.data.historial[i][j];
            }
        }
        $("table#zero_config tbody").html(tableConstrida)

    }
</script>

<script>
    $(document).on("submit", "form#formClientes", function (e) {
        e.preventDefault();

        if ($("#inlineFormCustomSelect").val() === null) { return; }
        let data = {
            idCliente: $("#inlineFormCustomSelect").val(),
        }
        $.ajax({
            url: '/historialCliente/getData',
            dataType: 'json',
            data,
            method: 'get', //en este caso
            success: function (response) {
                //codigo de exito
                if (response.ok) {
                    alimentarTabla(response)
                } else {
                    alert("Error en el Servidor: " + response.msj);
                }
            },
            error: function (error) {
                console.log("Error: " + error);
            }
        });
        //cerramos el modal
        $("#modalAnadirPerfil").modal('hide');

    })
</script>
<script>
    $(document).on("submit", "form#formDomiciliarios", function (e) {
        e.preventDefault();

        if ($("#inlineFormCustomSelect").val() === null) { return; }
        let data = {
            desde: $("#desde").val(),
            hasta: $("#hasta").val(),
            idDomiciliario: $("#inlineFormCustomSelect").val(),
        }
        $.ajax({
            url: '/historialDomiciliario/getData',
            dataType: 'json',
            data,
            method: 'get', //en este caso
            success: function (response) {
                //codigo de exito
                if (response.ok) {
                    alimentarTabla(response)
                } else {
                    alert("Error en el Servidor: " + response.msj);
                }
            },
            error: function (error) {
                console.log("Error: " + error);
            }
        });
        //cerramos el modal
        $("#modalAnadirPerfil").modal('hide');

    })
</script>